<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div class="container">
      <header>
          <% include ../partials/header %>
      </header>


        <section class="home-page-content">

          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3">Voting App</h1>
              <p class="lead">Select a poll to see the results and vote, or sign-in to make a new poll.</p>
            </div>
          </div>


          <ul class="list-group polls-container">
            <% for(var i = 0; i < pollIds.length; i++) { %>
              <li class="list-group-item poll">
                <a href='/poll/<%= pollIds[i] %>' id='id-<%= pollIds[i] %>'></a>
              </li>
            <% } %>
          </ul>

        </section>

      <section class="my-polls-container" style="display: none;">
          <ul class="list-group polls-container"></ul>
      </section>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/common/ajax-functions.js"></script>
  <script>
    const pollIds = <%- JSON.stringify(pollIds) %>;
    for(var i = 0; i < pollIds.length; i++) {
      const pollLink = document.querySelector(`#id-${pollIds[i]}`);

      const apiPollName = appUrl + `/api/pollName/${pollIds[i]}`;
      ajaxFunctions.ajaxRequest('GET', apiPollName, function(data) {
        const parsedData = JSON.parse(data);

        pollLink.text = parsedData.pollName;
      });
    }
  </script>
</body>
</html>